@{
  Layout = "_layout";
}

<form action="/vendors" method="post">
  <label for="name">New Vendor Name:</label>
  <input type="text" id="name" value="Rafael" name="name">

  <label for="description">New Vendor Description: </label>
  <input type="text" id="description"
  value="Rafael owns a flour mill" name="description">

  <button type="submit">Add this vendor</button>
</form>